
@{
	ViewBag.Title = "Dashboard";
	Layout = "~/Views/Manager/_LayoutManagerDashboard.cshtml";
}
@Styles.Render("~/content/ManagerDashboard.css")











<div class="body_render">

	<div id="body_container" class="container">
		<div id="Render_Section" class="col-sm-8 pull-left">
			 <p> render herre</p>
			<p> render herre</p>
			<p> render herre</p>
			<p> render herre</p>
			<p> render herre</p>
			<p> render herre</p>
		</div>
	</div>
	<div id="Top3_section" class="col-sm-4 col-xs-12">
		<div class="section_title">
			<h3> Top 3 Collaborators</h3>
		</div>

		
			
			<div class="collab_container">
				<a href="#"> Jbeli Radhwen </a>
			</div>
			<div class="collab_container">
				<a href="#"> Jbeli Radhwen  </a>
			</div>
			<div class="collab_container">
				<a href="#"> Jbeli Radhwen  <span> score : 80 </span>  </a>
			</div>
		

		
		
	
	</div>

























	
</div>













